grouper/conf/edu/internet2/middleware/ldappc/schema/ldappcConfig.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!-- ================================================================== -->
    <!-- =================== Define types for AUTH2LDAP ====================-->
    <!-- ================================================================== -->

    <xs:simpleType name="name-string-type">
        <xs:restriction base="xs:string">
            <!-- This is a VERY inclusive pattern -->
            <xs:pattern value="\S+.*" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="stem-type">
        <xs:restriction base="xs:string" />
    </xs:simpleType>

    <xs:simpleType name="grouper-attribute-name-type">
        <xs:restriction base="name-string-type" />
    </xs:simpleType>

    <xs:simpleType name="grouper-attribute-value-type">
        <xs:restriction base="xs:string" />
    </xs:simpleType>

    <xs:simpleType name="subject-attribute-name-type">
        <xs:restriction base="name-string-type" />
    </xs:simpleType>

    <xs:simpleType name="signet-id-type">
        <xs:restriction base="name-string-type" />
    </xs:simpleType>

    <xs:simpleType name="ldap-dn-type">
        <xs:restriction base="xs:string" />
    </xs:simpleType>

    <xs:simpleType name="ldap-search-filter-type">
        <xs:restriction base="xs:string" />
    </xs:simpleType>

    <xs:simpleType name="ldap-attribute-name-type">
        <xs:restriction base="name-string-type" />
    </xs:simpleType>

    <xs:simpleType name="ldap-objectclass-name-type">
        <xs:restriction base="name-string-type" />
    </xs:simpleType>

    <xs:simpleType name="source-id-type">
        <xs:restriction base="name-string-type" />
    </xs:simpleType>

    <xs:simpleType name="empty-attribute-value-type">
        <xs:restriction base="xs:string" />
    </xs:simpleType>

    <!-- ================================================================== -->
    <!-- ======================= COMMON ELEMENTS ========================== -->
    <!-- ================================================================== -->

    <xs:element name="ldap-search">
        <xs:complexType>
            <xs:attribute name="base" use="required"
                type="ldap-dn-type" />
            <xs:attribute name="scope" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="subtree_scope" />
                        <xs:enumeration value="object_scope" />
                        <xs:enumeration value="onelevel_scope" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="filter" use="required"
                type="ldap-search-filter-type" />
        </xs:complexType>
    </xs:element>

    <!--======================== PARAMETER ELEMENTS ======================= -->
    <xs:element name="parameter">
        <xs:complexType>
            <xs:attribute name="name" use="required" type="xs:token" />
            <xs:attribute name="value" use="required" type="xs:string" />
        </xs:complexType>
    </xs:element>

    <xs:element name="parameter-list">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="parameter" minOccurs="1"
                    maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!--============================ STEM ELEMENTS ======================= -->
    <xs:element name="stem" type="stem-type" />

    <xs:element name="stem-list">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="stem" minOccurs="1"
                    maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ================================================================== -->
    <!-- ===================== ELEMENT DEFINITIONS ======================== -->
    <!-- ================================================================== -->

    <!-- ==================== AUTH2LDAP ROOT ELEMENT ====================== -->
    <xs:element name="ldappc">
        <xs:complexType>
            <xs:sequence>
                <!-- Must have either grouper, signet, or both -->
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="grouper" />
                        <xs:element ref="signet" minOccurs="0"
                            maxOccurs="1" />
                    </xs:sequence>
                    <xs:element ref="signet" />
                </xs:choice>
                <!-- Must have each of the following -->
                <xs:element ref="source-subject-identifiers" />
                <xs:element ref="ldap" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ========================== GROUPER ELEMENT ======================= -->
    <xs:element name="grouper">
        <xs:complexType>
            <xs:sequence>
                <!-- Must have the following -->
                <xs:element ref="group-queries" />
                <!-- Must have either groups, memberships or both -->
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="groups" />
                        <xs:element ref="memberships" minOccurs="0"
                            maxOccurs="1" />
                    </xs:sequence>
                    <xs:element ref="memberships" />
                </xs:choice>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ======================= MEMBERSHIP ELEMENT ======================= -->
    <xs:element name="memberships">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="member-groups-list" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- =========================== SIGNET ELEMENT ======================= -->
    <xs:element name="signet">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="permissions-listing" />
                <xs:element ref="permissions-queries" minOccurs="0"
                    maxOccurs="1" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ========================== GROUPS ELEMENT ======================== -->
    <xs:element name="groups">
        <xs:complexType>
            <xs:sequence>
                <!-- Must have group-members-dn-list, group-members-name-list or both -->
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="group-members-dn-list" />
                        <xs:element ref="group-members-name-list"
                            minOccurs="0" maxOccurs="1" />
                    </xs:sequence>
                    <xs:element ref="group-members-name-list" />
                </xs:choice>
                <xs:element ref="group-attribute-mapping" minOccurs="0"
                    maxOccurs="1" />
            </xs:sequence>
            <!-- Attributes -->
            <xs:attribute name="structure" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="flat" />
                        <xs:enumeration value="bushy" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="root-dn" use="required"
                type="ldap-dn-type" />
            <xs:attribute name="ldap-object-class" use="required"
                type="ldap-objectclass-name-type" />
            <xs:attribute name="ldap-rdn-attribute" use="required"
                type="ldap-attribute-name-type" />
            <xs:attribute name="grouper-attribute" use="required"
                type="grouper-attribute-name-type" />
			<xs:attribute name="initial-cache-size" use="optional" type="xs:integer" />
            <xs:attribute name="create-then-modify-members" type="xs:boolean" />      
        </xs:complexType>
    </xs:element>

    <!-- ===================== PERMISSION-QUERIES ELEMENT ================= -->
    <xs:element name="permissions-queries">
        <xs:complexType>
            <!-- Must have one or both of the following -->
            <xs:choice>
                <xs:sequence>
                    <xs:element ref="subsystem-queries" />
                    <xs:element ref="function-queries" minOccurs="0"
                        maxOccurs="1" />
                </xs:sequence>
                <xs:element ref="function-queries" />
            </xs:choice>
        </xs:complexType>
    </xs:element>

    <xs:element name="subsystem-queries">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="subsystem-list" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="subsystem-list">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="subsystem" minOccurs="1"
                    maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:attribute name="id" use="required"
                            type="signet-id-type" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="function-queries">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="function-list" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="function-list">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="function" minOccurs="1"
                    maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:attribute name="id" use="required"
                            type="signet-id-type" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ====================== GROUP-QUERIES ELEMENT ===================== -->
    <xs:element name="group-queries">
        <xs:complexType>
            <!-- Must have one or both of the following -->
            <xs:choice>
                <xs:sequence>
                    <xs:element ref="subordinate-stem-queries" />
                    <xs:element ref="attribute-matching-queries"
                        minOccurs="0" maxOccurs="1" />
                </xs:sequence>
                <xs:element ref="attribute-matching-queries" />
            </xs:choice>
        </xs:complexType>
    </xs:element>

    <xs:element name="subordinate-stem-queries">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="stem-list" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="attribute-matching-queries">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="attribute-list" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="attribute-list">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="attribute" minOccurs="1"
                    maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="attribute">
        <xs:complexType>
            <xs:attribute name="name" use="required"
                type="grouper-attribute-name-type" />
            <xs:attribute name="value" use="required"
                type="grouper-attribute-value-type" />
        </xs:complexType>
    </xs:element>

    <!-- =============== SOURCE-SUBJECT-IDENTIFIERS ELEMENT =============== -->
    <xs:element name="source-subject-identifiers">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="source-subject-identifier"
                    minOccurs="1" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="source-subject-identifier">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ldap-search" />
            </xs:sequence>
            <xs:attribute name="source" use="required"
                type="source-id-type" />
            <xs:attribute name="subject-attribute" use="required"
                type="subject-attribute-name-type" />
   			<xs:attribute name="initial-cache-size" use="optional"
   				type="xs:integer" />
        </xs:complexType>
    </xs:element>

    <!-- ================== MEMBER-GROUPS-LIST ELEMENT ==================== -->
    <xs:element name="member-groups-list">
        <xs:complexType>
            <xs:attribute name="list-object-class"
                type="ldap-objectclass-name-type" />
            <xs:attribute name="list-attribute" use="required"
                type="ldap-attribute-name-type" />
            <xs:attribute name="naming-attribute" use="required"
                type="grouper-attribute-name-type" />
            <xs:attribute name="temporary-directory"
                type="xs:string" />
        </xs:complexType>
    </xs:element>

    <!-- ================ GROUP-MEMBERS-DN-LIST ELEMENT =================== -->
    <xs:element name="group-members-dn-list">
        <xs:complexType>
            <xs:attribute name="list-object-class"
                type="ldap-objectclass-name-type" />
            <xs:attribute name="list-attribute" use="required"
                type="ldap-attribute-name-type" />
            <xs:attribute name="list-empty-value"
                type="empty-attribute-value-type" />
        </xs:complexType>
    </xs:element>

    <!-- ================= GROUP-MEMBERS-NAME-LIST ELEMENT ================ -->
    <xs:element name="group-members-name-list">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="source-subject-name-mapping" />
            </xs:sequence>
            <xs:attribute name="list-object-class"
                type="ldap-objectclass-name-type" />
            <xs:attribute name="list-attribute" use="required"
                type="ldap-attribute-name-type" />
            <xs:attribute name="list-empty-value"
                type="empty-attribute-value-type" />
        </xs:complexType>
    </xs:element>

    <xs:element name="source-subject-name-mapping">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="source-subject-name-map" minOccurs="1"
                    maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:attribute name="source" use="required"
                            type="source-id-type" />
                        <xs:attribute name="subject-attribute"
                            use="required"
                            type="subject-attribute-name-type" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- =============== GROUPER-ATTRIBUTE-MAPPING ELEMENT ================ -->
    <xs:element name="group-attribute-mapping">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="group-attribute-map" minOccurs="1"
                    maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:attribute name="group-attribute"
                            use="required"
                            type="grouper-attribute-name-type" />
                        <xs:attribute name="ldap-attribute"
                            use="required"
                            type="ldap-attribute-name-type" />
                        <xs:attribute name="ldap-attribute-empty-value"
                            type="empty-attribute-value-type" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="ldap-object-class"
                type="ldap-objectclass-name-type" />
        </xs:complexType>
    </xs:element>

    <!-- ================== PERMISSIONS-LISTING ELEMENT =================== -->
    <xs:element name="permissions-listing">
        <xs:complexType>
            <xs:attribute name="stored-as" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="string" />
                        <xs:enumeration value="eduPermission" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="string-object-class"
                type="ldap-objectclass-name-type" />
            <xs:attribute name="string-attribute"
                type="ldap-attribute-name-type" />
            <xs:attribute name="string-prefix" />
            <xs:attribute name="string-list-empty-value"
                type="empty-attribute-value-type" />
        </xs:complexType>
    </xs:element>

    <!-- ========================= LDAP ELEMENT =========================== -->
    <xs:element name="ldap">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="context">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element ref="parameter-list" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
