grouper-ws/grouper-ws-java-generated-client/GrouperService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:axis2="http://webservices.grouper.middleware.internet2.edu" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ns0="http://webservices.grouper.middleware.internet2.edu/xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://webservices.grouper.middleware.internet2.edu">
    <wsdl:types>
        <xs:schema xmlns:ns="http://webservices.grouper.middleware.internet2.edu/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://webservices.grouper.middleware.internet2.edu/xsd">
            <xs:element name="addMemberSimple">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="groupName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="groupUuid" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="subjectId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="subjectIdentifier" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="actAsSubjectId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="actAsSubjectIdentifier" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="paramName0" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="paramValue0" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="paramName1" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="paramValue1" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addMemberSimpleResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns:WsAddMemberResult"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="WsAddMemberResult">
                <xs:sequence>
                    <xs:element minOccurs="0" name="resultCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="resultMessage" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="subjectId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="subjectIdentifier" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="success" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="addMember">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="wsGroupLookup" nillable="true" type="ns:WsGroupLookup"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="subjectLookups" nillable="true" type="ns:WsSubjectLookup"/>
                        <xs:element minOccurs="0" name="replaceAllExisting" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="actAsSubjectLookup" nillable="true" type="ns:WsSubjectLookup"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="paramNames" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="paramValues" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="WsGroupLookup">
                <xs:sequence>
                    <xs:element minOccurs="0" name="groupName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="uuid" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="WsSubjectLookup">
                <xs:sequence>
                    <xs:element minOccurs="0" name="blank" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="subjectId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="subjectIdentifier" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="subjectSource" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="subjectType" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="addMemberResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns:WsAddMemberResults"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="WsAddMemberResults">
                <xs:sequence>
                    <xs:element minOccurs="0" name="resultCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="resultMessage" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="results" nillable="true" type="ns:WsAddMemberResult"/>
                    <xs:element minOccurs="0" name="success" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="deleteMemberSimple">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="groupName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="groupUuid" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="subjectId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="subjectIdentifier" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="actAsSubjectId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="actAsSubjectIdentifier" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="paramName0" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="paramValue0" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="paramName1" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="paramValue1" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteMemberSimpleResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns:WsDeleteMemberResult"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="WsDeleteMemberResult">
                <xs:sequence>
                    <xs:element minOccurs="0" name="resultCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="resultMessage" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="subjectId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="subjectIdentifier" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="success" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="deleteMember">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="wsGroupLookup" nillable="true" type="ns:WsGroupLookup"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="subjectLookups" nillable="true" type="ns:WsSubjectLookup"/>
                        <xs:element minOccurs="0" name="actAsSubjectLookup" nillable="true" type="ns:WsSubjectLookup"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="paramNames" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="paramValues" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteMemberResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns:WsDeleteMemberResults"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="WsDeleteMemberResults">
                <xs:sequence>
                    <xs:element minOccurs="0" name="resultCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="resultMessage" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="results" nillable="true" type="ns:WsDeleteMemberResult"/>
                    <xs:element minOccurs="0" name="success" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="findGroups">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="groupName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="stemName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="stemNameScope" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="groupUuid" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="queryTerm" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="querySearchFromStemName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="queryScope" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="actAsSubjectLookup" nillable="true" type="ns:WsSubjectLookup"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="paramNames" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="paramValues" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="findGroupsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns:WsFindGroupsResults"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="WsFindGroupsResults">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="groupResults" nillable="true" type="ns:WsGroupResult"/>
                    <xs:element minOccurs="0" name="resultCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="resultMessage" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="success" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="WsGroupResult">
                <xs:sequence>
                    <xs:element minOccurs="0" name="createSource" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="createSubjectId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="createTime" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="displayExtension" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="displayName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="extension" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="isComposite" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="modifySource" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="modifySubjectId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="modifyTime" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="parentStemName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="parentStemUuid" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="uuid" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="findGroupsSimple">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="groupName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="stemName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="stemNameScope" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="groupUuid" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="queryTerm" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="querySearchFromStemName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="queryScope" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="actAsSubjectId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="actAsSubjectIdentifier" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="paramName0" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="paramValue0" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="paramName1" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="paramValue1" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="findGroupsSimpleResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns:WsFindGroupsResults"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getGroups">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="subjectLookup" nillable="true" type="ns:WsSubjectLookup"/>
                        <xs:element minOccurs="0" name="memberFilter" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="actAsSubjectLookup" nillable="true" type="ns:WsSubjectLookup"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="paramNames" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="paramValues" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getGroupsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns:WsGetGroupsResults"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="WsGetGroupsResults">
                <xs:sequence>
                    <xs:element minOccurs="0" name="resultCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="resultMessage" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="results" nillable="true" type="ns:WsGetGroupsResult"/>
                    <xs:element minOccurs="0" name="success" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="WsGetGroupsResult">
                <xs:sequence>
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="displayName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="isComposite" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="uuid" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="getGroupsSimple">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="subjectId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="subjectIdentifier" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="memberFilter" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="actAsSubjectId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="actAsSubjectIdentifier" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="paramName0" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="paramValue0" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="paramName1" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="paramValue1" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getGroupsSimpleResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns:WsGetGroupsResults"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMembers">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="wsGroupLookup" nillable="true" type="ns:WsGroupLookup"/>
                        <xs:element minOccurs="0" name="memberFilter" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="retrieveExtendedSubjectData" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="actAsSubjectLookup" nillable="true" type="ns:WsSubjectLookup"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="paramNames" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="paramValues" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMembersResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns:WsGetMembersResults"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="WsGetMembersResults">
                <xs:sequence>
                    <xs:element minOccurs="0" name="attributeName0" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="attributeName1" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="attributeName2" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="resultCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="resultMessage" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="results" nillable="true" type="ns:WsGetMembersResult"/>
                    <xs:element minOccurs="0" name="success" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="WsGetMembersResult">
                <xs:sequence>
                    <xs:element minOccurs="0" name="attribute0" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="attribute1" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="attribute2" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="subjectDescription" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="subjectId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="subjectName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="subjectType" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="SUBJECT_ATTRIBUTE_PREFIX" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="getMembersSimple">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="groupName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="groupUuid" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="memberFilter" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="retrieveExtendedSubjectData" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="actAsSubjectId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="actAsSubjectIdentifier" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="paramName0" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="paramValue0" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="paramName1" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="paramValue1" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMembersSimpleResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns:WsGetMembersResults"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMemberships">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="wsGroupLookup" nillable="true" type="ns:WsGroupLookup"/>
                        <xs:element minOccurs="0" name="membershipFilter" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="retrieveExtendedSubjectData" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="actAsSubjectLookup" nillable="true" type="ns:WsSubjectLookup"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="paramNames" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="paramValues" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMembershipsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns:WsGetMembershipsResults"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="WsGetMembershipsResults">
                <xs:sequence>
                    <xs:element minOccurs="0" name="attributeName0" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="attributeName1" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="attributeName2" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="resultCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="resultMessage" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="results" nillable="true" type="ns:WsGetMembershipsResult"/>
                    <xs:element minOccurs="0" name="success" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="WsGetMembershipsResult">
                <xs:sequence>
                    <xs:element minOccurs="0" name="attribute0" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="attribute1" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="attribute2" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="createTime" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="depth" type="xs:int"/>
                    <xs:element minOccurs="0" name="groupName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="listName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="listType" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="membershipId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="membershipType" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="stemName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="subjectDescription" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="subjectId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="subjectName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="subjectType" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="getMembershipsSimple">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="groupName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="groupUuid" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="membershipFilter" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="retrieveExtendedSubjectData" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="actAsSubjectId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="actAsSubjectIdentifier" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="paramName0" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="paramValue0" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="paramName1" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="paramValue1" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMembershipsSimpleResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns:WsGetMembershipsResults"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="groupDeleteSimple">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="groupName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="groupUuid" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="actAsSubjectId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="actAsSubjectIdentifier" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="paramName0" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="paramValue0" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="paramName1" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="paramValue1" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="groupDeleteSimpleResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns:WsGroupDeleteResult"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="WsGroupDeleteResult">
                <xs:sequence>
                    <xs:element minOccurs="0" name="groupName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="groupUuid" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="resultCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="resultMessage" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="success" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="groupDelete">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="wsGroupLookups" nillable="true" type="ns:WsGroupLookup"/>
                        <xs:element minOccurs="0" name="actAsSubjectLookup" nillable="true" type="ns:WsSubjectLookup"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="paramNames" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="paramValues" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="groupDeleteResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns:WsGroupDeleteResults"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="WsGroupDeleteResults">
                <xs:sequence>
                    <xs:element minOccurs="0" name="resultCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="resultMessage" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="results" nillable="true" type="ns:WsGroupDeleteResult"/>
                    <xs:element minOccurs="0" name="success" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="groupSaveSimple">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="groupName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="groupUuid" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="displayExtension" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="retrieveViaNameIfNoUuid" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="createGroupIfNotExist" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="createStemsIfNotExist" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="actAsSubjectId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="actAsSubjectIdentifier" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="paramName0" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="paramValue0" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="paramName1" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="paramValue1" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="groupSaveSimpleResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns:WsGroupSaveResult"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="WsGroupSaveResult">
                <xs:sequence>
                    <xs:element minOccurs="0" name="groupName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="groupUuid" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="resultCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="resultMessage" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="success" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="groupSave">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="wsGroupsToSave" nillable="true" type="ns:WsGroupToSave"/>
                        <xs:element minOccurs="0" name="actAsSubjectLookup" nillable="true" type="ns:WsSubjectLookup"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="paramNames" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="paramValues" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="WsGroupToSave">
                <xs:sequence>
                    <xs:element minOccurs="0" name="createGroupIfNotExist" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="createStemsIfNotExist" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="displayExtension" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="groupName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="retrieveViaNameIfNoUuid" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="uuid" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="groupSaveResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns:WsGroupSaveResults"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="WsGroupSaveResults">
                <xs:sequence>
                    <xs:element minOccurs="0" name="resultCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="resultMessage" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="results" nillable="true" type="ns:WsGroupSaveResult"/>
                    <xs:element minOccurs="0" name="success" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="hasMemberSimple">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="groupName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="groupUuid" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="subjectId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="subjectIdentifier" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="memberFilter" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="actAsSubjectId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="actAsSubjectIdentifier" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="fieldName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="paramName0" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="paramValue0" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="paramName1" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="paramValue1" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="hasMemberSimpleResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns:WsHasMemberResult"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="WsHasMemberResult">
                <xs:sequence>
                    <xs:element minOccurs="0" name="resultCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="resultMessage" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="subjectId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="subjectIdentifier" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="success" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="hasMember">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="wsGroupLookup" nillable="true" type="ns:WsGroupLookup"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="subjectLookups" nillable="true" type="ns:WsSubjectLookup"/>
                        <xs:element minOccurs="0" name="memberFilter" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="actAsSubjectLookup" nillable="true" type="ns:WsSubjectLookup"/>
                        <xs:element minOccurs="0" name="fieldName" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="paramNames" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="paramValues" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="hasMemberResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns:WsHasMemberResults"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="WsHasMemberResults">
                <xs:sequence>
                    <xs:element minOccurs="0" name="resultCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="resultMessage" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="results" nillable="true" type="ns:WsHasMemberResult"/>
                    <xs:element minOccurs="0" name="success" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="viewOrEditAttributesSimple">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="groupName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="groupUuid" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="attributeName0" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="attributeValue0" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="attributeDelete0" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="attributeName1" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="attributeValue1" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="attributeDelete1" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="attributeName2" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="attributeValue2" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="attributeDelete2" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="actAsSubjectId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="actAsSubjectIdentifier" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="paramName0" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="paramValue0" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="paramName1" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="paramValue1" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="viewOrEditAttributesSimpleResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns:WsViewOrEditAttributesResult"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="WsViewOrEditAttributesResult">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="attributes" nillable="true" type="ns:WsAttribute"/>
                    <xs:element minOccurs="0" name="groupName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="groupUuid" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="resultCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="resultMessage" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="success" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="WsAttribute">
                <xs:sequence>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="value" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="viewOrEditAttributes">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="wsGroupLookups" nillable="true" type="ns:WsGroupLookup"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="wsAttributeEdits" nillable="true" type="ns:WsAttributeEdit"/>
                        <xs:element minOccurs="0" name="actAsSubjectLookup" nillable="true" type="ns:WsSubjectLookup"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="paramNames" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="paramValues" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="WsAttributeEdit">
                <xs:sequence>
                    <xs:element minOccurs="0" name="delete" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="value" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="viewOrEditAttributesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns:WsViewOrEditAttributesResults"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="WsViewOrEditAttributesResults">
                <xs:sequence>
                    <xs:element minOccurs="0" name="resultCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="resultMessage" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="results" nillable="true" type="ns:WsViewOrEditAttributesResult"/>
                    <xs:element minOccurs="0" name="success" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="viewOrEditPrivilegesSimple">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="groupName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="groupUuid" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="subjectId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="subjectIdentifier" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="adminAllowed" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="optinAllowed" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="optoutAllowed" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="readAllowed" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="updateAllowed" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="viewAllowed" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="actAsSubjectId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="actAsSubjectIdentifier" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="paramName0" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="paramValue0" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="paramName1" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="paramValue1" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="viewOrEditPrivilegesSimpleResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns:WsViewOrEditPrivilegesResult"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="WsViewOrEditPrivilegesResult">
                <xs:sequence>
                    <xs:element minOccurs="0" name="adminAllowed" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="optinAllowed" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="optoutAllowed" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="readAllowed" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="resultCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="resultMessage" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="subjectId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="subjectIdentifier" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="success" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="systemAllowed" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="updateAllowed" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="viewOrEditPrivileges">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="wsGroupLookup" nillable="true" type="ns:WsGroupLookup"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="subjectLookups" nillable="true" type="ns:WsSubjectLookup"/>
                        <xs:element minOccurs="0" name="adminAllowed" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="optinAllowed" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="optoutAllowed" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="readAllowed" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="updateAllowed" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="viewAllowed" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="actAsSubjectLookup" nillable="true" type="ns:WsSubjectLookup"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="paramNames" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="paramValues" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="viewOrEditPrivilegesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns:WsViewOrEditPrivilegesResults"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="WsViewOrEditPrivilegesResults">
                <xs:sequence>
                    <xs:element minOccurs="0" name="resultCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="resultMessage" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="results" nillable="true" type="ns:WsViewOrEditPrivilegesResult"/>
                    <xs:element minOccurs="0" name="success" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getMembershipsSimpleRequest">
        <wsdl:part name="parameters" element="ns0:getMembershipsSimple"/>
    </wsdl:message>
    <wsdl:message name="getMembershipsSimpleResponse">
        <wsdl:part name="parameters" element="ns0:getMembershipsSimpleResponse"/>
    </wsdl:message>
    <wsdl:message name="getMembersRequest">
        <wsdl:part name="parameters" element="ns0:getMembers"/>
    </wsdl:message>
    <wsdl:message name="getMembersResponse">
        <wsdl:part name="parameters" element="ns0:getMembersResponse"/>
    </wsdl:message>
    <wsdl:message name="groupDeleteRequest">
        <wsdl:part name="parameters" element="ns0:groupDelete"/>
    </wsdl:message>
    <wsdl:message name="groupDeleteResponse">
        <wsdl:part name="parameters" element="ns0:groupDeleteResponse"/>
    </wsdl:message>
    <wsdl:message name="deleteMemberRequest">
        <wsdl:part name="parameters" element="ns0:deleteMember"/>
    </wsdl:message>
    <wsdl:message name="deleteMemberResponse">
        <wsdl:part name="parameters" element="ns0:deleteMemberResponse"/>
    </wsdl:message>
    <wsdl:message name="groupSaveSimpleRequest">
        <wsdl:part name="parameters" element="ns0:groupSaveSimple"/>
    </wsdl:message>
    <wsdl:message name="groupSaveSimpleResponse">
        <wsdl:part name="parameters" element="ns0:groupSaveSimpleResponse"/>
    </wsdl:message>
    <wsdl:message name="getGroupsSimpleRequest">
        <wsdl:part name="parameters" element="ns0:getGroupsSimple"/>
    </wsdl:message>
    <wsdl:message name="getGroupsSimpleResponse">
        <wsdl:part name="parameters" element="ns0:getGroupsSimpleResponse"/>
    </wsdl:message>
    <wsdl:message name="findGroupsSimpleRequest">
        <wsdl:part name="parameters" element="ns0:findGroupsSimple"/>
    </wsdl:message>
    <wsdl:message name="findGroupsSimpleResponse">
        <wsdl:part name="parameters" element="ns0:findGroupsSimpleResponse"/>
    </wsdl:message>
    <wsdl:message name="getMembershipsRequest">
        <wsdl:part name="parameters" element="ns0:getMemberships"/>
    </wsdl:message>
    <wsdl:message name="getMembershipsResponse">
        <wsdl:part name="parameters" element="ns0:getMembershipsResponse"/>
    </wsdl:message>
    <wsdl:message name="hasMemberRequest">
        <wsdl:part name="parameters" element="ns0:hasMember"/>
    </wsdl:message>
    <wsdl:message name="hasMemberResponse">
        <wsdl:part name="parameters" element="ns0:hasMemberResponse"/>
    </wsdl:message>
    <wsdl:message name="groupDeleteSimpleRequest">
        <wsdl:part name="parameters" element="ns0:groupDeleteSimple"/>
    </wsdl:message>
    <wsdl:message name="groupDeleteSimpleResponse">
        <wsdl:part name="parameters" element="ns0:groupDeleteSimpleResponse"/>
    </wsdl:message>
    <wsdl:message name="deleteMemberSimpleRequest">
        <wsdl:part name="parameters" element="ns0:deleteMemberSimple"/>
    </wsdl:message>
    <wsdl:message name="deleteMemberSimpleResponse">
        <wsdl:part name="parameters" element="ns0:deleteMemberSimpleResponse"/>
    </wsdl:message>
    <wsdl:message name="groupSaveRequest">
        <wsdl:part name="parameters" element="ns0:groupSave"/>
    </wsdl:message>
    <wsdl:message name="groupSaveResponse">
        <wsdl:part name="parameters" element="ns0:groupSaveResponse"/>
    </wsdl:message>
    <wsdl:message name="viewOrEditPrivilegesRequest">
        <wsdl:part name="parameters" element="ns0:viewOrEditPrivileges"/>
    </wsdl:message>
    <wsdl:message name="viewOrEditPrivilegesResponse">
        <wsdl:part name="parameters" element="ns0:viewOrEditPrivilegesResponse"/>
    </wsdl:message>
    <wsdl:message name="getGroupsRequest">
        <wsdl:part name="parameters" element="ns0:getGroups"/>
    </wsdl:message>
    <wsdl:message name="getGroupsResponse">
        <wsdl:part name="parameters" element="ns0:getGroupsResponse"/>
    </wsdl:message>
    <wsdl:message name="viewOrEditAttributesSimpleRequest">
        <wsdl:part name="parameters" element="ns0:viewOrEditAttributesSimple"/>
    </wsdl:message>
    <wsdl:message name="viewOrEditAttributesSimpleResponse">
        <wsdl:part name="parameters" element="ns0:viewOrEditAttributesSimpleResponse"/>
    </wsdl:message>
    <wsdl:message name="getMembersSimpleRequest">
        <wsdl:part name="parameters" element="ns0:getMembersSimple"/>
    </wsdl:message>
    <wsdl:message name="getMembersSimpleResponse">
        <wsdl:part name="parameters" element="ns0:getMembersSimpleResponse"/>
    </wsdl:message>
    <wsdl:message name="addMemberRequest">
        <wsdl:part name="parameters" element="ns0:addMember"/>
    </wsdl:message>
    <wsdl:message name="addMemberResponse">
        <wsdl:part name="parameters" element="ns0:addMemberResponse"/>
    </wsdl:message>
    <wsdl:message name="addMemberSimpleRequest">
        <wsdl:part name="parameters" element="ns0:addMemberSimple"/>
    </wsdl:message>
    <wsdl:message name="addMemberSimpleResponse">
        <wsdl:part name="parameters" element="ns0:addMemberSimpleResponse"/>
    </wsdl:message>
    <wsdl:message name="hasMemberSimpleRequest">
        <wsdl:part name="parameters" element="ns0:hasMemberSimple"/>
    </wsdl:message>
    <wsdl:message name="hasMemberSimpleResponse">
        <wsdl:part name="parameters" element="ns0:hasMemberSimpleResponse"/>
    </wsdl:message>
    <wsdl:message name="findGroupsRequest">
        <wsdl:part name="parameters" element="ns0:findGroups"/>
    </wsdl:message>
    <wsdl:message name="findGroupsResponse">
        <wsdl:part name="parameters" element="ns0:findGroupsResponse"/>
    </wsdl:message>
    <wsdl:message name="viewOrEditPrivilegesSimpleRequest">
        <wsdl:part name="parameters" element="ns0:viewOrEditPrivilegesSimple"/>
    </wsdl:message>
    <wsdl:message name="viewOrEditPrivilegesSimpleResponse">
        <wsdl:part name="parameters" element="ns0:viewOrEditPrivilegesSimpleResponse"/>
    </wsdl:message>
    <wsdl:message name="viewOrEditAttributesRequest">
        <wsdl:part name="parameters" element="ns0:viewOrEditAttributes"/>
    </wsdl:message>
    <wsdl:message name="viewOrEditAttributesResponse">
        <wsdl:part name="parameters" element="ns0:viewOrEditAttributesResponse"/>
    </wsdl:message>
    <wsdl:portType name="GrouperServicePortType">
        <wsdl:operation name="getMembershipsSimple">
            <wsdl:input message="axis2:getMembershipsSimpleRequest" wsaw:Action="urn:getMembershipsSimple"/>
            <wsdl:output message="axis2:getMembershipsSimpleResponse" wsaw:Action="urn:getMembershipsSimpleResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getMembers">
            <wsdl:input message="axis2:getMembersRequest" wsaw:Action="urn:getMembers"/>
            <wsdl:output message="axis2:getMembersResponse" wsaw:Action="urn:getMembersResponse"/>
        </wsdl:operation>
        <wsdl:operation name="groupDelete">
            <wsdl:input message="axis2:groupDeleteRequest" wsaw:Action="urn:groupDelete"/>
            <wsdl:output message="axis2:groupDeleteResponse" wsaw:Action="urn:groupDeleteResponse"/>
        </wsdl:operation>
        <wsdl:operation name="deleteMember">
            <wsdl:input message="axis2:deleteMemberRequest" wsaw:Action="urn:deleteMember"/>
            <wsdl:output message="axis2:deleteMemberResponse" wsaw:Action="urn:deleteMemberResponse"/>
        </wsdl:operation>
        <wsdl:operation name="groupSaveSimple">
            <wsdl:input message="axis2:groupSaveSimpleRequest" wsaw:Action="urn:groupSaveSimple"/>
            <wsdl:output message="axis2:groupSaveSimpleResponse" wsaw:Action="urn:groupSaveSimpleResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getGroupsSimple">
            <wsdl:input message="axis2:getGroupsSimpleRequest" wsaw:Action="urn:getGroupsSimple"/>
            <wsdl:output message="axis2:getGroupsSimpleResponse" wsaw:Action="urn:getGroupsSimpleResponse"/>
        </wsdl:operation>
        <wsdl:operation name="findGroupsSimple">
            <wsdl:input message="axis2:findGroupsSimpleRequest" wsaw:Action="urn:findGroupsSimple"/>
            <wsdl:output message="axis2:findGroupsSimpleResponse" wsaw:Action="urn:findGroupsSimpleResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getMemberships">
            <wsdl:input message="axis2:getMembershipsRequest" wsaw:Action="urn:getMemberships"/>
            <wsdl:output message="axis2:getMembershipsResponse" wsaw:Action="urn:getMembershipsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="hasMember">
            <wsdl:input message="axis2:hasMemberRequest" wsaw:Action="urn:hasMember"/>
            <wsdl:output message="axis2:hasMemberResponse" wsaw:Action="urn:hasMemberResponse"/>
        </wsdl:operation>
        <wsdl:operation name="groupDeleteSimple">
            <wsdl:input message="axis2:groupDeleteSimpleRequest" wsaw:Action="urn:groupDeleteSimple"/>
            <wsdl:output message="axis2:groupDeleteSimpleResponse" wsaw:Action="urn:groupDeleteSimpleResponse"/>
        </wsdl:operation>
        <wsdl:operation name="deleteMemberSimple">
            <wsdl:input message="axis2:deleteMemberSimpleRequest" wsaw:Action="urn:deleteMemberSimple"/>
            <wsdl:output message="axis2:deleteMemberSimpleResponse" wsaw:Action="urn:deleteMemberSimpleResponse"/>
        </wsdl:operation>
        <wsdl:operation name="groupSave">
            <wsdl:input message="axis2:groupSaveRequest" wsaw:Action="urn:groupSave"/>
            <wsdl:output message="axis2:groupSaveResponse" wsaw:Action="urn:groupSaveResponse"/>
        </wsdl:operation>
        <wsdl:operation name="viewOrEditPrivileges">
            <wsdl:input message="axis2:viewOrEditPrivilegesRequest" wsaw:Action="urn:viewOrEditPrivileges"/>
            <wsdl:output message="axis2:viewOrEditPrivilegesResponse" wsaw:Action="urn:viewOrEditPrivilegesResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getGroups">
            <wsdl:input message="axis2:getGroupsRequest" wsaw:Action="urn:getGroups"/>
            <wsdl:output message="axis2:getGroupsResponse" wsaw:Action="urn:getGroupsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="viewOrEditAttributesSimple">
            <wsdl:input message="axis2:viewOrEditAttributesSimpleRequest" wsaw:Action="urn:viewOrEditAttributesSimple"/>
            <wsdl:output message="axis2:viewOrEditAttributesSimpleResponse" wsaw:Action="urn:viewOrEditAttributesSimpleResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getMembersSimple">
            <wsdl:input message="axis2:getMembersSimpleRequest" wsaw:Action="urn:getMembersSimple"/>
            <wsdl:output message="axis2:getMembersSimpleResponse" wsaw:Action="urn:getMembersSimpleResponse"/>
        </wsdl:operation>
        <wsdl:operation name="addMember">
            <wsdl:input message="axis2:addMemberRequest" wsaw:Action="urn:addMember"/>
            <wsdl:output message="axis2:addMemberResponse" wsaw:Action="urn:addMemberResponse"/>
        </wsdl:operation>
        <wsdl:operation name="addMemberSimple">
            <wsdl:input message="axis2:addMemberSimpleRequest" wsaw:Action="urn:addMemberSimple"/>
            <wsdl:output message="axis2:addMemberSimpleResponse" wsaw:Action="urn:addMemberSimpleResponse"/>
        </wsdl:operation>
        <wsdl:operation name="hasMemberSimple">
            <wsdl:input message="axis2:hasMemberSimpleRequest" wsaw:Action="urn:hasMemberSimple"/>
            <wsdl:output message="axis2:hasMemberSimpleResponse" wsaw:Action="urn:hasMemberSimpleResponse"/>
        </wsdl:operation>
        <wsdl:operation name="findGroups">
            <wsdl:input message="axis2:findGroupsRequest" wsaw:Action="urn:findGroups"/>
            <wsdl:output message="axis2:findGroupsResponse" wsaw:Action="urn:findGroupsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="viewOrEditPrivilegesSimple">
            <wsdl:input message="axis2:viewOrEditPrivilegesSimpleRequest" wsaw:Action="urn:viewOrEditPrivilegesSimple"/>
            <wsdl:output message="axis2:viewOrEditPrivilegesSimpleResponse" wsaw:Action="urn:viewOrEditPrivilegesSimpleResponse"/>
        </wsdl:operation>
        <wsdl:operation name="viewOrEditAttributes">
            <wsdl:input message="axis2:viewOrEditAttributesRequest" wsaw:Action="urn:viewOrEditAttributes"/>
            <wsdl:output message="axis2:viewOrEditAttributesResponse" wsaw:Action="urn:viewOrEditAttributesResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="GrouperServiceSOAP11Binding" type="axis2:GrouperServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getMembershipsSimple">
            <soap:operation soapAction="urn:getMembershipsSimple" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMembers">
            <soap:operation soapAction="urn:getMembers" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="groupDelete">
            <soap:operation soapAction="urn:groupDelete" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteMember">
            <soap:operation soapAction="urn:deleteMember" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="groupSaveSimple">
            <soap:operation soapAction="urn:groupSaveSimple" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getGroupsSimple">
            <soap:operation soapAction="urn:getGroupsSimple" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="findGroupsSimple">
            <soap:operation soapAction="urn:findGroupsSimple" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMemberships">
            <soap:operation soapAction="urn:getMemberships" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="hasMember">
            <soap:operation soapAction="urn:hasMember" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="groupDeleteSimple">
            <soap:operation soapAction="urn:groupDeleteSimple" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteMemberSimple">
            <soap:operation soapAction="urn:deleteMemberSimple" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="groupSave">
            <soap:operation soapAction="urn:groupSave" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="viewOrEditPrivileges">
            <soap:operation soapAction="urn:viewOrEditPrivileges" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getGroups">
            <soap:operation soapAction="urn:getGroups" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="viewOrEditAttributesSimple">
            <soap:operation soapAction="urn:viewOrEditAttributesSimple" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMembersSimple">
            <soap:operation soapAction="urn:getMembersSimple" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addMember">
            <soap:operation soapAction="urn:addMember" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addMemberSimple">
            <soap:operation soapAction="urn:addMemberSimple" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="hasMemberSimple">
            <soap:operation soapAction="urn:hasMemberSimple" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="findGroups">
            <soap:operation soapAction="urn:findGroups" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="viewOrEditPrivilegesSimple">
            <soap:operation soapAction="urn:viewOrEditPrivilegesSimple" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="viewOrEditAttributes">
            <soap:operation soapAction="urn:viewOrEditAttributes" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="GrouperServiceSOAP12Binding" type="axis2:GrouperServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getMembershipsSimple">
            <soap12:operation soapAction="urn:getMembershipsSimple" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMembers">
            <soap12:operation soapAction="urn:getMembers" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="groupDelete">
            <soap12:operation soapAction="urn:groupDelete" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteMember">
            <soap12:operation soapAction="urn:deleteMember" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="groupSaveSimple">
            <soap12:operation soapAction="urn:groupSaveSimple" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getGroupsSimple">
            <soap12:operation soapAction="urn:getGroupsSimple" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="findGroupsSimple">
            <soap12:operation soapAction="urn:findGroupsSimple" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMemberships">
            <soap12:operation soapAction="urn:getMemberships" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="hasMember">
            <soap12:operation soapAction="urn:hasMember" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="groupDeleteSimple">
            <soap12:operation soapAction="urn:groupDeleteSimple" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteMemberSimple">
            <soap12:operation soapAction="urn:deleteMemberSimple" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="groupSave">
            <soap12:operation soapAction="urn:groupSave" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="viewOrEditPrivileges">
            <soap12:operation soapAction="urn:viewOrEditPrivileges" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getGroups">
            <soap12:operation soapAction="urn:getGroups" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="viewOrEditAttributesSimple">
            <soap12:operation soapAction="urn:viewOrEditAttributesSimple" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMembersSimple">
            <soap12:operation soapAction="urn:getMembersSimple" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addMember">
            <soap12:operation soapAction="urn:addMember" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addMemberSimple">
            <soap12:operation soapAction="urn:addMemberSimple" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="hasMemberSimple">
            <soap12:operation soapAction="urn:hasMemberSimple" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="findGroups">
            <soap12:operation soapAction="urn:findGroups" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="viewOrEditPrivilegesSimple">
            <soap12:operation soapAction="urn:viewOrEditPrivilegesSimple" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="viewOrEditAttributes">
            <soap12:operation soapAction="urn:viewOrEditAttributes" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="GrouperServiceHttpBinding" type="axis2:GrouperServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getMembershipsSimple">
            <http:operation location="GrouperService/getMembershipsSimple"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getMembershipsSimple"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getMembershipsSimple"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMembers">
            <http:operation location="GrouperService/getMembers"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getMembers"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getMembers"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="groupDelete">
            <http:operation location="GrouperService/groupDelete"/>
            <wsdl:input>
                <mime:content type="text/xml" part="groupDelete"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="groupDelete"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteMember">
            <http:operation location="GrouperService/deleteMember"/>
            <wsdl:input>
                <mime:content type="text/xml" part="deleteMember"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="deleteMember"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="groupSaveSimple">
            <http:operation location="GrouperService/groupSaveSimple"/>
            <wsdl:input>
                <mime:content type="text/xml" part="groupSaveSimple"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="groupSaveSimple"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getGroupsSimple">
            <http:operation location="GrouperService/getGroupsSimple"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getGroupsSimple"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getGroupsSimple"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="findGroupsSimple">
            <http:operation location="GrouperService/findGroupsSimple"/>
            <wsdl:input>
                <mime:content type="text/xml" part="findGroupsSimple"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="findGroupsSimple"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMemberships">
            <http:operation location="GrouperService/getMemberships"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getMemberships"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getMemberships"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="hasMember">
            <http:operation location="GrouperService/hasMember"/>
            <wsdl:input>
                <mime:content type="text/xml" part="hasMember"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="hasMember"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="groupDeleteSimple">
            <http:operation location="GrouperService/groupDeleteSimple"/>
            <wsdl:input>
                <mime:content type="text/xml" part="groupDeleteSimple"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="groupDeleteSimple"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteMemberSimple">
            <http:operation location="GrouperService/deleteMemberSimple"/>
            <wsdl:input>
                <mime:content type="text/xml" part="deleteMemberSimple"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="deleteMemberSimple"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="groupSave">
            <http:operation location="GrouperService/groupSave"/>
            <wsdl:input>
                <mime:content type="text/xml" part="groupSave"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="groupSave"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="viewOrEditPrivileges">
            <http:operation location="GrouperService/viewOrEditPrivileges"/>
            <wsdl:input>
                <mime:content type="text/xml" part="viewOrEditPrivileges"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="viewOrEditPrivileges"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getGroups">
            <http:operation location="GrouperService/getGroups"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getGroups"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getGroups"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="viewOrEditAttributesSimple">
            <http:operation location="GrouperService/viewOrEditAttributesSimple"/>
            <wsdl:input>
                <mime:content type="text/xml" part="viewOrEditAttributesSimple"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="viewOrEditAttributesSimple"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMembersSimple">
            <http:operation location="GrouperService/getMembersSimple"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getMembersSimple"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getMembersSimple"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addMember">
            <http:operation location="GrouperService/addMember"/>
            <wsdl:input>
                <mime:content type="text/xml" part="addMember"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="addMember"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addMemberSimple">
            <http:operation location="GrouperService/addMemberSimple"/>
            <wsdl:input>
                <mime:content type="text/xml" part="addMemberSimple"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="addMemberSimple"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="hasMemberSimple">
            <http:operation location="GrouperService/hasMemberSimple"/>
            <wsdl:input>
                <mime:content type="text/xml" part="hasMemberSimple"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="hasMemberSimple"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="findGroups">
            <http:operation location="GrouperService/findGroups"/>
            <wsdl:input>
                <mime:content type="text/xml" part="findGroups"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="findGroups"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="viewOrEditPrivilegesSimple">
            <http:operation location="GrouperService/viewOrEditPrivilegesSimple"/>
            <wsdl:input>
                <mime:content type="text/xml" part="viewOrEditPrivilegesSimple"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="viewOrEditPrivilegesSimple"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="viewOrEditAttributes">
            <http:operation location="GrouperService/viewOrEditAttributes"/>
            <wsdl:input>
                <mime:content type="text/xml" part="viewOrEditAttributes"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="viewOrEditAttributes"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="GrouperService">
        <wsdl:port name="GrouperServiceSOAP11port_http" binding="axis2:GrouperServiceSOAP11Binding">
            <soap:address location="http://localhost:8090/grouper-ws/services/GrouperService"/>
        </wsdl:port>
        <wsdl:port name="GrouperServiceSOAP12port_http" binding="axis2:GrouperServiceSOAP12Binding">
            <soap12:address location="http://localhost:8090/grouper-ws/services/GrouperService"/>
        </wsdl:port>
        <wsdl:port name="GrouperServiceHttpport" binding="axis2:GrouperServiceHttpBinding">
            <http:address location="http://localhost:8090/grouper-ws/services/GrouperService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
