grouper-ws/grouper-ws-java-generated-client/GrouperService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:axis2="http://webservices.grouper.middleware.internet2.edu/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns0="http://webservices.grouper.middleware.internet2.edu/xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://webservices.grouper.middleware.internet2.edu/">
    <wsdl:documentation>GrouperService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ns="http://webservices.grouper.middleware.internet2.edu/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://webservices.grouper.middleware.internet2.edu/xsd">
            <xs:element name="addMemberSimple">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="groupName" nillable="true" type="xs:string"/>

                        <xs:element minOccurs="0" name="groupUuid" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="subjectId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="subjectIdentifier" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="actAsSubjectId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="actAsSubjectIdentifier" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="paramName0" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="paramValue0" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="paramName1" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="paramValue1" nillable="true" type="xs:string"/>

                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addMemberSimpleResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns:WsAddMemberResult"/>
                    </xs:sequence>
                </xs:complexType>

            </xs:element>
            <xs:complexType name="WsAddMemberResult">
                <xs:sequence>
                    <xs:element minOccurs="0" name="resultCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="resultMessage" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="subjectId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="subjectIdentifier" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="success" nillable="true" type="xs:string"/>
                </xs:sequence>

            </xs:complexType>
            <xs:element name="addMember">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="wsGroupLookup" nillable="true" type="ns:WsGroupLookup"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="subjectLookups" nillable="true" type="ns:WsSubjectLookup"/>
                        <xs:element minOccurs="0" name="replaceAllExisting" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="actAsSubjectLookup" nillable="true" type="ns:WsSubjectLookup"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="paramNames" nillable="true" type="xs:string"/>

                        <xs:element maxOccurs="unbounded" minOccurs="0" name="paramValues" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="WsGroupLookup">
                <xs:sequence>
                    <xs:element minOccurs="0" name="groupName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="uuid" nillable="true" type="xs:string"/>
                </xs:sequence>

            </xs:complexType>
            <xs:complexType name="WsSubjectLookup">
                <xs:sequence>
                    <xs:element minOccurs="0" name="blank" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="subjectId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="subjectIdentifier" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="subjectSource" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="subjectType" nillable="true" type="xs:string"/>
                </xs:sequence>

            </xs:complexType>
            <xs:element name="addMemberResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns:WsAddMemberResults"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="WsAddMemberResults">

                <xs:sequence>
                    <xs:element minOccurs="0" name="resultCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="resultMessage" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="results" nillable="true" type="ns:WsAddMemberResult"/>
                    <xs:element minOccurs="0" name="success" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>

    <wsdl:message name="addMemberRequest">
        <wsdl:part name="parameters" element="ns0:addMember"/>
    </wsdl:message>
    <wsdl:message name="addMemberResponse">
        <wsdl:part name="parameters" element="ns0:addMemberResponse"/>
    </wsdl:message>
    <wsdl:message name="addMemberSimpleRequest">
        <wsdl:part name="parameters" element="ns0:addMemberSimple"/>
    </wsdl:message>

    <wsdl:message name="addMemberSimpleResponse">
        <wsdl:part name="parameters" element="ns0:addMemberSimpleResponse"/>
    </wsdl:message>
    <wsdl:portType name="GrouperServicePortType">
        <wsdl:operation name="addMember">
            <wsdl:input message="axis2:addMemberRequest" wsaw:Action="urn:addMember"/>
            <wsdl:output message="axis2:addMemberResponse" wsaw:Action="urn:addMemberResponse"/>
        </wsdl:operation>
        <wsdl:operation name="addMemberSimple">

            <wsdl:input message="axis2:addMemberSimpleRequest" wsaw:Action="urn:addMemberSimple"/>
            <wsdl:output message="axis2:addMemberSimpleResponse" wsaw:Action="urn:addMemberSimpleResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="GrouperServiceSOAP11Binding" type="axis2:GrouperServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="addMember">
            <soap:operation soapAction="urn:addMember" style="document"/>
            <wsdl:input>

                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addMemberSimple">
            <soap:operation soapAction="urn:addMemberSimple" style="document"/>
            <wsdl:input>

                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="GrouperServiceSOAP12Binding" type="axis2:GrouperServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>

        <wsdl:operation name="addMember">
            <soap12:operation soapAction="urn:addMember" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="addMemberSimple">
            <soap12:operation soapAction="urn:addMemberSimple" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

    </wsdl:binding>
    <wsdl:binding name="GrouperServiceHttpBinding" type="axis2:GrouperServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="addMember">
            <http:operation location="GrouperService/addMember"/>
            <wsdl:input>
                <mime:content type="text/xml" part="addMember"/>
            </wsdl:input>
            <wsdl:output>

                <mime:content type="text/xml" part="addMember"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addMemberSimple">
            <http:operation location="GrouperService/addMemberSimple"/>
            <wsdl:input>
                <mime:content type="text/xml" part="addMemberSimple"/>
            </wsdl:input>
            <wsdl:output>

                <mime:content type="text/xml" part="addMemberSimple"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="GrouperService">
        <wsdl:port name="GrouperServiceSOAP11port_http" binding="axis2:GrouperServiceSOAP11Binding">
            <soap:address location="http://localhost:8090/grouper-ws/services/GrouperService"/>
        </wsdl:port>
        <wsdl:port name="GrouperServiceSOAP12port_http" binding="axis2:GrouperServiceSOAP12Binding">

            <soap12:address location="http://localhost:8090/grouper-ws/services/GrouperService"/>
        </wsdl:port>
        <wsdl:port name="GrouperServiceHttpport" binding="axis2:GrouperServiceHttpBinding">
            <http:address location="http://localhost:8090/grouper-ws/services/GrouperService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
