grouper-ws/grouper-ws-java-generated-client/GrouperService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:axis2="http://webservices.grouper.middleware.internet2.edu" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ns0="http://webservices.grouper.middleware.internet2.edu/xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://webservices.grouper.middleware.internet2.edu">
    <wsdl:types>
        <xs:schema xmlns:ns="http://webservices.grouper.middleware.internet2.edu/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://webservices.grouper.middleware.internet2.edu/xsd">
            <xs:element name="addMemberSimple">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="groupName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="groupUuid" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="subjectId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="subjectIdentifier" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="actAsSubjectId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="actAsSubjectIdentifier" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="paramName0" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="paramValue0" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="paramName1" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="paramValue1" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addMemberSimpleResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns:WsAddMemberResult"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="WsAddMemberResult">
                <xs:sequence>
                    <xs:element minOccurs="0" name="resultCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="resultMessage" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="subjectId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="subjectIdentifier" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="success" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="addMember">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="wsGroupLookup" nillable="true" type="ns:WsGroupLookup"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="subjectLookups" nillable="true" type="ns:WsSubjectLookup"/>
                        <xs:element minOccurs="0" name="replaceAllExisting" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="actAsSubjectLookup" nillable="true" type="ns:WsSubjectLookup"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="paramNames" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="paramValues" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="WsGroupLookup">
                <xs:sequence>
                    <xs:element minOccurs="0" name="groupName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="uuid" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="WsSubjectLookup">
                <xs:sequence>
                    <xs:element minOccurs="0" name="blank" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="subjectId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="subjectIdentifier" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="subjectSource" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="subjectType" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="addMemberResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns:WsAddMemberResults"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="WsAddMemberResults">
                <xs:sequence>
                    <xs:element minOccurs="0" name="resultCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="resultMessage" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="results" nillable="true" type="ns:WsAddMemberResult"/>
                    <xs:element minOccurs="0" name="success" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="deleteMemberSimple">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="groupName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="groupUuid" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="subjectId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="subjectIdentifier" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="actAsSubjectId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="actAsSubjectIdentifier" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="paramName0" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="paramValue0" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="paramName1" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="paramValue1" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteMemberSimpleResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns:WsDeleteMemberResult"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="WsDeleteMemberResult">
                <xs:sequence>
                    <xs:element minOccurs="0" name="resultCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="resultMessage" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="subjectId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="subjectIdentifier" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="success" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="deleteMember">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="wsGroupLookup" nillable="true" type="ns:WsGroupLookup"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="subjectLookups" nillable="true" type="ns:WsSubjectLookup"/>
                        <xs:element minOccurs="0" name="actAsSubjectLookup" nillable="true" type="ns:WsSubjectLookup"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="paramNames" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="paramValues" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteMemberResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns:WsDeleteMemberResults"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="WsDeleteMemberResults">
                <xs:sequence>
                    <xs:element minOccurs="0" name="resultCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="resultMessage" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="results" nillable="true" type="ns:WsDeleteMemberResult"/>
                    <xs:element minOccurs="0" name="success" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="findGroups">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="groupName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="stemName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="stemNameScope" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="groupUuid" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="queryTerm" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="querySearchFromStemName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="queryScope" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="actAsSubjectLookup" nillable="true" type="ns:WsSubjectLookup"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="paramNames" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="paramValues" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="findGroupsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns:WsFindGroupsResults"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="WsFindGroupsResults">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="groupResults" nillable="true" type="ns:WsGroupResult"/>
                    <xs:element minOccurs="0" name="resultCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="resultMessage" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="success" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="WsGroupResult">
                <xs:sequence>
                    <xs:element minOccurs="0" name="createSource" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="createSubjectId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="createTime" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="displayExtension" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="displayName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="extension" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="isComposite" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="modifySource" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="modifySubjectId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="modifyTime" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="parentStemName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="parentStemUuid" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="uuid" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="findGroupsSimple">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="groupName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="stemName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="stemNameScope" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="groupUuid" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="queryTerm" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="querySearchFromStemName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="queryScope" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="actAsSubjectId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="actAsSubjectIdentifier" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="paramName0" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="paramValue0" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="paramName1" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="paramValue1" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="findGroupsSimpleResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns:WsFindGroupsResults"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="deleteMemberSimpleRequest">
        <wsdl:part name="parameters" element="ns0:deleteMemberSimple"/>
    </wsdl:message>
    <wsdl:message name="deleteMemberSimpleResponse">
        <wsdl:part name="parameters" element="ns0:deleteMemberSimpleResponse"/>
    </wsdl:message>
    <wsdl:message name="deleteMemberRequest">
        <wsdl:part name="parameters" element="ns0:deleteMember"/>
    </wsdl:message>
    <wsdl:message name="deleteMemberResponse">
        <wsdl:part name="parameters" element="ns0:deleteMemberResponse"/>
    </wsdl:message>
    <wsdl:message name="findGroupsSimpleRequest">
        <wsdl:part name="parameters" element="ns0:findGroupsSimple"/>
    </wsdl:message>
    <wsdl:message name="findGroupsSimpleResponse">
        <wsdl:part name="parameters" element="ns0:findGroupsSimpleResponse"/>
    </wsdl:message>
    <wsdl:message name="addMemberRequest">
        <wsdl:part name="parameters" element="ns0:addMember"/>
    </wsdl:message>
    <wsdl:message name="addMemberResponse">
        <wsdl:part name="parameters" element="ns0:addMemberResponse"/>
    </wsdl:message>
    <wsdl:message name="addMemberSimpleRequest">
        <wsdl:part name="parameters" element="ns0:addMemberSimple"/>
    </wsdl:message>
    <wsdl:message name="addMemberSimpleResponse">
        <wsdl:part name="parameters" element="ns0:addMemberSimpleResponse"/>
    </wsdl:message>
    <wsdl:message name="findGroupsRequest">
        <wsdl:part name="parameters" element="ns0:findGroups"/>
    </wsdl:message>
    <wsdl:message name="findGroupsResponse">
        <wsdl:part name="parameters" element="ns0:findGroupsResponse"/>
    </wsdl:message>
    <wsdl:portType name="GrouperServicePortType">
        <wsdl:operation name="deleteMemberSimple">
            <wsdl:input message="axis2:deleteMemberSimpleRequest" wsaw:Action="urn:deleteMemberSimple"/>
            <wsdl:output message="axis2:deleteMemberSimpleResponse" wsaw:Action="urn:deleteMemberSimpleResponse"/>
        </wsdl:operation>
        <wsdl:operation name="deleteMember">
            <wsdl:input message="axis2:deleteMemberRequest" wsaw:Action="urn:deleteMember"/>
            <wsdl:output message="axis2:deleteMemberResponse" wsaw:Action="urn:deleteMemberResponse"/>
        </wsdl:operation>
        <wsdl:operation name="findGroupsSimple">
            <wsdl:input message="axis2:findGroupsSimpleRequest" wsaw:Action="urn:findGroupsSimple"/>
            <wsdl:output message="axis2:findGroupsSimpleResponse" wsaw:Action="urn:findGroupsSimpleResponse"/>
        </wsdl:operation>
        <wsdl:operation name="addMember">
            <wsdl:input message="axis2:addMemberRequest" wsaw:Action="urn:addMember"/>
            <wsdl:output message="axis2:addMemberResponse" wsaw:Action="urn:addMemberResponse"/>
        </wsdl:operation>
        <wsdl:operation name="addMemberSimple">
            <wsdl:input message="axis2:addMemberSimpleRequest" wsaw:Action="urn:addMemberSimple"/>
            <wsdl:output message="axis2:addMemberSimpleResponse" wsaw:Action="urn:addMemberSimpleResponse"/>
        </wsdl:operation>
        <wsdl:operation name="findGroups">
            <wsdl:input message="axis2:findGroupsRequest" wsaw:Action="urn:findGroups"/>
            <wsdl:output message="axis2:findGroupsResponse" wsaw:Action="urn:findGroupsResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="GrouperServiceSOAP11Binding" type="axis2:GrouperServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="deleteMemberSimple">
            <soap:operation soapAction="urn:deleteMemberSimple" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteMember">
            <soap:operation soapAction="urn:deleteMember" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="findGroupsSimple">
            <soap:operation soapAction="urn:findGroupsSimple" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addMember">
            <soap:operation soapAction="urn:addMember" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addMemberSimple">
            <soap:operation soapAction="urn:addMemberSimple" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="findGroups">
            <soap:operation soapAction="urn:findGroups" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="GrouperServiceSOAP12Binding" type="axis2:GrouperServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="deleteMemberSimple">
            <soap12:operation soapAction="urn:deleteMemberSimple" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteMember">
            <soap12:operation soapAction="urn:deleteMember" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="findGroupsSimple">
            <soap12:operation soapAction="urn:findGroupsSimple" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addMember">
            <soap12:operation soapAction="urn:addMember" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addMemberSimple">
            <soap12:operation soapAction="urn:addMemberSimple" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="findGroups">
            <soap12:operation soapAction="urn:findGroups" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="GrouperServiceHttpBinding" type="axis2:GrouperServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="deleteMemberSimple">
            <http:operation location="GrouperService/deleteMemberSimple"/>
            <wsdl:input>
                <mime:content type="text/xml" part="deleteMemberSimple"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="deleteMemberSimple"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteMember">
            <http:operation location="GrouperService/deleteMember"/>
            <wsdl:input>
                <mime:content type="text/xml" part="deleteMember"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="deleteMember"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="findGroupsSimple">
            <http:operation location="GrouperService/findGroupsSimple"/>
            <wsdl:input>
                <mime:content type="text/xml" part="findGroupsSimple"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="findGroupsSimple"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addMember">
            <http:operation location="GrouperService/addMember"/>
            <wsdl:input>
                <mime:content type="text/xml" part="addMember"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="addMember"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addMemberSimple">
            <http:operation location="GrouperService/addMemberSimple"/>
            <wsdl:input>
                <mime:content type="text/xml" part="addMemberSimple"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="addMemberSimple"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="findGroups">
            <http:operation location="GrouperService/findGroups"/>
            <wsdl:input>
                <mime:content type="text/xml" part="findGroups"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="findGroups"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="GrouperService">
        <wsdl:port name="GrouperServiceSOAP11port_http" binding="axis2:GrouperServiceSOAP11Binding">
            <soap:address location="http://localhost:8090/grouper-ws/services/GrouperService"/>
        </wsdl:port>
        <wsdl:port name="GrouperServiceSOAP12port_http" binding="axis2:GrouperServiceSOAP12Binding">
            <soap12:address location="http://localhost:8090/grouper-ws/services/GrouperService"/>
        </wsdl:port>
        <wsdl:port name="GrouperServiceHttpport" binding="axis2:GrouperServiceHttpBinding">
            <http:address location="http://localhost:8090/grouper-ws/services/GrouperService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
