grouper-misc/grouper-shib/src/main/resources/schema/shibboleth-2.0-grouper.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright 2014 Internet2

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<schema targetNamespace="http://grouper.internet2.edu/shibboleth/2.0"
  xmlns="http://www.w3.org/2001/XMLSchema"
  xmlns:beans="http://www.springframework.org/schema/beans"
  xmlns:grouper="http://grouper.internet2.edu/shibboleth/2.0"
  xmlns:resolver="urn:mace:shibboleth:2.0:resolver"
  xmlns:resource="urn:mace:shibboleth:2.0:resource"
  xmlns:service="urn:mace:shibboleth:2.0:services"
  xmlns:dc="urn:mace:shibboleth:2.0:resolver:dc"
  xmlns:ad="urn:mace:shibboleth:2.0:resolver:ad"
  elementFormDefault="qualified">

  <import namespace="urn:mace:shibboleth:2.0:services" schemaLocation="classpath:/schema/shibboleth-2.0-services.xsd" />
  <import namespace="urn:mace:shibboleth:2.0:resolver" schemaLocation="classpath:/schema/shibboleth-2.0-attribute-resolver.xsd" />
  <import namespace="urn:mace:shibboleth:2.0:resolver:ad" schemaLocation="classpath:/schema/shibboleth-2.0-attribute-resolver-ad.xsd" />
  <import namespace="urn:mace:shibboleth:2.0:resolver:dc" schemaLocation="classpath:/schema/shibboleth-2.0-attribute-resolver-dc.xsd" />
  <import namespace="urn:mace:shibboleth:2.0:resource" schemaLocation="classpath:/schema/shibboleth-2.0-resource.xsd" />

  <annotation>
    <documentation>Grouper support for the Shibboleth 2.0 Attribute Resolver</documentation>
  </annotation>

  <complexType name="GroupDataConnector">
    <annotation>
      <documentation>
        A data connector that returns Group attributes.
      </documentation>
    </annotation>
    <complexContent>
      <extension base="grouper:BaseGrouperDataConnectorType">
      </extension>
    </complexContent>
  </complexType>

  <complexType name="MemberDataConnector">
    <annotation>
      <documentation>
        A data connector that returns Member attributes.
      </documentation>
    </annotation>
    <complexContent>
      <extension base="grouper:BaseGrouperDataConnectorType" />
    </complexContent>
  </complexType>

  <complexType name="StemDataConnector">
    <annotation>
      <documentation>
        A data connector that can returns Stem attributes.
      </documentation>
    </annotation>
    <complexContent>
      <extension base="grouper:BaseGrouperDataConnectorType">
      </extension>
    </complexContent>
  </complexType>

  <complexType name="BaseGrouperDataConnectorType">
    <annotation>
      <documentation>
        A data connector that returns information from Grouper.
      </documentation>
    </annotation>
    <complexContent>
      <extension base="resolver:BaseDataConnectorType">
        <annotation>
          <documentation>
            Inherits from the Shibboleth BaseDataConnector.
          </documentation>
        </annotation>
        <sequence>
          <element ref="grouper:Filter" minOccurs="0" maxOccurs="1">
            <annotation>
              <documentation>
                Filters the returned objects.
              </documentation>
            </annotation>
          </element>
          <element ref="grouper:Attribute" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation>
                Filters the attributes of the returned objects.
              </documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>

  <complexType name="Member">
    <annotation>
      <documentation>
        A Grouper Member.
      </documentation>
    </annotation>
    <complexContent>
      <extension base="resolver:BaseAttributeDefinitionType">
        <sequence>
          <element ref="grouper:Attribute" minOccurs="1" maxOccurs="unbounded">
            <annotation>
              <documentation>
                Filters Member attributes.
              </documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>

  <complexType name="Group">
    <annotation>
      <documentation>
        A Grouper Group.
      </documentation>
    </annotation>
    <complexContent>
      <extension base="resolver:BaseAttributeDefinitionType">
        <sequence>
          <element ref="grouper:Attribute" minOccurs="1" maxOccurs="unbounded">
            <annotation>
              <documentation>
                Filters Group attributes.
              </documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  
  <complexType name="Subject">
    <annotation>
      <documentation>
        A Grouper Subject.
      </documentation>
    </annotation>
    <complexContent>
      <extension base="resolver:BaseAttributeDefinitionType">
        <sequence>
          <element ref="grouper:Attribute" minOccurs="1" maxOccurs="unbounded">
            <annotation>
              <documentation>
                Filters Subject attributes.
              </documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>

  <complexType name="FilteredName">
    <annotation>
      <documentation>
        A Grouper name. Supports filters.
      </documentation>
    </annotation>
    <complexContent>
      <extension base="resolver:BaseAttributeDefinitionType">
        <sequence>
          <element
            ref="grouper:Filter"
            minOccurs="0"
            maxOccurs="1">
            <annotation>
              <documentation>
                Filters the returned objects.
              </documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>

  <element name="Attribute" type="grouper:AbstractIdentifierType">
    <annotation>
      <documentation>
        Represents a Grouper attribute.
      </documentation>
    </annotation>
  </element>

  <complexType name="AbstractIdentifierType">
    <annotation>
      <documentation>
        The identifier id and source id.
      </documentation>
    </annotation>
    <attribute name="id" type="string" use="required" />
    <attribute name="source" type="string" default="g:gsa" />
  </complexType>

  <element name="Filter" type="grouper:BaseFilterType">
    <annotation>
      <documentation>
        Defines a Filter.
      </documentation>
    </annotation>
  </element>
  <complexType name="BaseFilterType" abstract="true">
    <annotation>
      <documentation>
        A filter returns matching objects and determines if an object matches.
      </documentation>
    </annotation>
  </complexType>

  <complexType name="GroupExactAttribute">
    <annotation>
      <documentation>
        Filter by exact attribute name and value.
      </documentation>
    </annotation>
    <complexContent>
      <extension base="grouper:BaseFilterType">
        <attribute name="name" type="string" use="required">
          <annotation>
            <documentation>
              The name of the attribute.
            </documentation>
          </annotation>
        </attribute>
        <attribute name="value" type="string" use="required">
          <annotation>
            <documentation>
              The value of the attribute.
            </documentation>
          </annotation>
        </attribute>
      </extension>
    </complexContent>
  </complexType>

  <complexType name="NameExact">
    <annotation>
      <documentation>
        Filter by exact name.
      </documentation>
    </annotation>
    <complexContent>
      <extension base="grouper:BaseFilterType">
        <attribute
          name="name"
          type="string"
          use="required">
          <annotation>
            <documentation>
              The name of the stem.
            </documentation>
          </annotation>
        </attribute>
      </extension>
    </complexContent>
  </complexType>

  <complexType name="StemNameExact">
    <annotation>
      <documentation>
        Filter by exact name.
      </documentation>
    </annotation>
    <complexContent>
      <extension base="grouper:BaseFilterType">
        <attribute name="name" type="string" use="required">
          <annotation>
            <documentation>
              The name of the stem.
            </documentation>
          </annotation>
        </attribute>
      </extension>
    </complexContent>
  </complexType>

  <complexType name="GroupInStem">
    <annotation>
      <documentation>
        Filter Groups by stem name.
      </documentation>
    </annotation>
    <complexContent>
      <extension base="grouper:BaseInStemType" />
    </complexContent>
  </complexType>

  <complexType name="NameInStem">
    <annotation>
      <documentation>
        Filter objects by stem name.
      </documentation>
    </annotation>
    <complexContent>
      <extension base="grouper:BaseInStemType" />
    </complexContent>
  </complexType>

  <complexType name="StemInStem">
    <annotation>
      <documentation>
        Filter Groups by stem name.
      </documentation>
    </annotation>
    <complexContent>
      <extension base="grouper:BaseInStemType" />
    </complexContent>
  </complexType>

  <complexType name="BaseInStemType">
    <annotation>
      <documentation>
        Filter by stem name.
      </documentation>
    </annotation>
    <complexContent>
      <extension base="grouper:BaseFilterType">
        <attribute name="name" type="string" use="required">
          <annotation>
            <documentation>
              The stem name.
            </documentation>
          </annotation>
        </attribute>
        <attribute name="scope" use="required">
          <annotation>
            <documentation>
              Return objects within this scope.
            </documentation>
          </annotation>
          <simpleType>
            <restriction base="string">
              <annotation>
                <documentation>
                  "SUB" : return all objects under this stem and child stems.
                  "ONE" : return objects only
                  under this stem and not child stems.
                </documentation>
              </annotation>
              <enumeration value="SUB" />
              <enumeration value="ONE" />
            </restriction>
          </simpleType>
        </attribute>
      </extension>
    </complexContent>
  </complexType>

  <complexType name="AND">
    <annotation>
      <documentation>
        Filter by the union of two filters.
      </documentation>
    </annotation>
    <complexContent>
      <extension base="grouper:BaseFilterType">
        <sequence>
          <element ref="grouper:Filter" />
          <element ref="grouper:Filter" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>

  <complexType name="OR">
    <annotation>
      <documentation>
        Filter by the intersection of two filters.
      </documentation>
    </annotation>
    <complexContent>
      <extension base="grouper:BaseFilterType">
        <sequence>
          <element ref="grouper:Filter" />
          <element ref="grouper:Filter" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>

  <complexType name="MINUS">
    <annotation>
      <documentation>
        Filter by the complement of two filters.
      </documentation>
    </annotation>
    <complexContent>
      <extension base="grouper:BaseFilterType">
        <sequence>
          <element ref="grouper:Filter" />
          <element ref="grouper:Filter" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>

  <complexType name="MemberSource">
    <annotation>
      <documentation>
        Filter Members by Source.
      </documentation>
    </annotation>
    <complexContent>
      <extension base="grouper:BaseFilterType">
        <attribute name="sourceId" type="string" use="required">
          <annotation>
            <documentation>
              The id of the Source.
            </documentation>
          </annotation>
        </attribute>
      </extension>
    </complexContent>
  </complexType>

  <complexType name="ClasspathPropertyReplacement">
    <annotation>
      <documentation>
        A resource filter that replaces ${KEY} macros with the values associated with the KEY in a property
        file.
      </documentation>
    </annotation>
    <complexContent>
      <extension base="resource:ResourceFilterType">
        <attribute name="propertyFile" type="string" use="required">
          <annotation>
            <documentation>Classpath location of the Java property file used during macro expansion.</documentation>
          </annotation>
        </attribute>
      </extension>
    </complexContent>
  </complexType>

  <simpleType name="ScopeType">
    <annotation>
      <documentation>
        The SPML search scope.
      </documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="pso" />
      <enumeration value="oneLevel" />
      <enumeration value="subTree" />
    </restriction>
  </simpleType>

  <simpleType name="ReturnDataType">
    <annotation>
      <documentation>
        The SPML ReturnData parameter.
      </documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="identifier" />
      <enumeration value="data" />
      <enumeration value="everything" />
    </restriction>
  </simpleType>
  
</schema>
